<%= form_for(@presence) do |f| %>
  <% if @presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% @presence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.select :user, User.all.collect { |u| [u.email, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
