<h1><%= "#{t 'action.listing'} #{Presence.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Presence.human_attribute_name :user %></th>
      <th><%= Presence.human_attribute_name :time %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= presence.user.first_name %></td>
        <td><%= presence.time %></td>
        <td><%= link_to t('action.destroy'), presence, method: :delete, data: { confirm: t('action.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Presence.model_name.human}", new_presence_path %>
