<h1><%= "#{t 'action.listing'} #{Presence.model_name.human.pluralize}" %></h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th><%= Presence.human_attribute_name :id %></th>
      <th><%= Presence.human_attribute_name :user %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>
          <%= link_to user_presences_path(user), class: 'btn' do %>
            <i class="fa fa-eye"></i> <%= "#{t('action.show')} #{Presence.model_name.human.pluralize}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
