<%= nested_form_for(@employee.try(:employee) || @employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'shared/user_fields', f: f %>

  <div class="field">
    <%= f.label :responsibility %>
    <%= f.select :responsibility, options_for_select(['Teacher', 'Manager', 'Facilitator'],
      selected: @employee.try(:responsibility)) %>
  </div>
  <div class="field">
    <%= f.label :wage %>
    <%= f.text_field :wage %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
