<h1><%= "#{t 'action.listing'} #{Employee.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Employee.human_attribute_name :first_name %></th>
      <th><%= Employee.human_attribute_name :last_name %></th>
      <th><%= Employee.human_attribute_name :email %></th>
      <th><%= Employee.human_attribute_name :username %></th>
      <th><%= Employee.human_attribute_name :rg %></th>
      <th><%= Employee.human_attribute_name :cpf %></th>
      <th><%= Employee.human_attribute_name :birth %></th>
      <th><%= Employee.human_attribute_name :phone_numbers %></th>
      <th><%= Employee.human_attribute_name :responsibility %></th>
      <th><%= Employee.human_attribute_name :wage %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.username %></td>
        <td><%= employee.rg %></td>
        <td><%= employee.cpf %></td>
        <td><%= employee.birth %></td>
        <td><%= employee.phone_numbers.collect { |p| p.number } %></td>
        <td><%= employee.responsibility %></td>
        <td><%= employee.wage %></td>
        <td><%= link_to t('action.show'), employee %></td>
        <td><%= link_to t('action.edit'), edit_employee_path(employee) %></td>
        <td><%= link_to t('action.destroy'), employee, method: :delete, data: { confirm: t('action.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Employee.model_name.human}", new_employee_path %>
