<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Mail</th>
      <th>Username</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Birth</th>
      <th>Phone</th>
      <th>Responsibility</th>
      <th>Wage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.mail %></td>
        <td><%= employee.username %></td>
        <td><%= employee.rg %></td>
        <td><%= employee.cpf %></td>
        <td><%= employee.birth %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.responsibility %></td>
        <td><%= employee.wage %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
