<%= nested_form_for(@hours_package) do |f| %>
  <% if @hours_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hours_package.errors.count, "error") %> prohibited this hours_package from being saved:</h2>

      <ul>
      <% @hours_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pupils %>
    <%= f.fields_for :private_classes do |b| %>
      <%= b.select :pupil, Pupil.all.collect { |p| [p.first_name, p.id] } %><br />
      <%= b.link_to_remove "Remove this pupil" %><br />
    <% end %>
    <%= f.link_to_add "Add a pupil", :private_classes %>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.select :teacher, Teacher.all.collect { |t| [t.first_name, t.id] } %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :horaries %>
    <%= f.fields_for :horaries do |builder| %>
      <%= render "shared/horary_fields", f: builder %>
    <% end %>
    <%= f.link_to_add "Add a horary", :horaries %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.date_select :end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
