<h1><%= "#{t 'action.listing'} #{HoursPackage.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= HoursPackage.human_attribute_name :pupils %></th>
      <th><%= HoursPackage.human_attribute_name :teacher %></th>
      <th><%= HoursPackage.human_attribute_name :price %></th>
      <th><%= HoursPackage.human_attribute_name :horaries %></th>
      <th><%= HoursPackage.human_attribute_name :start %></th>
      <th><%= HoursPackage.human_attribute_name :end %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_packages.each do |hours_package| %>
      <tr>
        <td><%= hours_package.pupils.collect { |p| p.email } %></td>
        <td><%= hours_package.teacher.email %></td>
        <td><%= hours_package.price %></td>
        <td>
          <%= hours_package.horaries.collect { |h| "#{h.day}, #{h.start} ~ #{h.end}" } %>
        </td>
        <td><%= hours_package.start %></td>
        <td><%= hours_package.end %></td>
        <td><%= link_to t('action.show'), hours_package %></td>
        <td><%= link_to t('action.edit'), edit_hours_package_path(hours_package) %></td>
        <td><%= link_to t('action.destroy'), hours_package, method: :delete, data: { confirm: t('action.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{HoursPackage.model_name.human}", new_hours_package_path %>
