<h1><%= "#{t 'action.listing'} #{HoursPackage.model_name.human.pluralize}" %></h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= HoursPackage.human_attribute_name :pupils %></th>
      <th><%= HoursPackage.human_attribute_name :teacher %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_packages.each do |hours_package| %>
      <tr>
        <td><%= link_to hours_package.id, hours_package %></td>
        <td><%= hours_package.pupils.collect { |p| p.email } %></td>
        <td><%= hours_package.teacher.email %></td>
        <td>
          <%= link_to edit_hours_package_path(hours_package), class: 'btn' do %>
            <i class="fa fa-edit"></i> <%= t('action.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to hours_package, method: :delete, data: { confirm: t('action.confirm') }, class: 'btn btn-danger' do %>
            <i class="fa fa-trash-o"></i> <%= t('action.destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{HoursPackage.model_name.human}", new_hours_package_path, class: 'btn' %>
