<div class="row-fluid">
  <h1><%= "#{t 'action.showing'} #{HoursPackage.model_name.human}" %></h1>

  <p>
    <strong><%= HoursPackage.human_attribute_name :pupils %>:</strong>
    <%= @hours_package.pupils.collect { |p| p.email } %>
  </p>

  <p>
    <strong><%= HoursPackage.human_attribute_name :teacher %>:</strong>
    <%= @hours_package.teacher.email %>
  </p>

  <p>
    <strong><%= HoursPackage.human_attribute_name :price %>:</strong>
    <%= @hours_package.price %>
  </p>

  <p>
    <strong><%= HoursPackage.human_attribute_name :horaries %>:</strong>
    <%= @hours_package.horaries.collect { |h| "#{h.day}, #{h.start} ~ #{h.end}" } %>
  </p>

  <p>
    <strong><%= HoursPackage.human_attribute_name :start %>:</strong>
    <%= @hours_package.start %>
  </p>

  <p>
    <strong><%= HoursPackage.human_attribute_name :end %>:</strong>
    <%= @hours_package.end %>
  </p>

  <%= link_to edit_hours_package_path(@hours_package), class: 'btn' do %>
    <i class="fa fa-edit"></i> <%= t('action.edit') %>
  <% end %>
  <%= link_to @hours_package, method: :delete, data: { confirm: t('action.confirm') }, class: 'btn btn-danger' do %>
    <i class="fa fa-trash-o"></i> <%= t('action.destroy') %>
  <% end %>
</div>
