<h1>Listing rhythms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Modality</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rhythms.each do |rhythm| %>
      <tr>
        <td><%= rhythm.name %></td>
        <td><%= rhythm.description %></td>
        <td><%= rhythm.modality.name %></td>
        <td><%= link_to 'Show', rhythm %></td>
        <td><%= link_to 'Edit', edit_rhythm_path(rhythm) %></td>
        <td><%= link_to 'Destroy', rhythm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rhythm', new_rhythm_path %>
