<h1><%= "#{t 'action.listing'} #{Rhythm.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Rhythm.human_attribute_name :name %></th>
      <th><%= Rhythm.human_attribute_name :description %></th>
      <th><%= Rhythm.human_attribute_name :modality %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rhythms.each do |rhythm| %>
      <tr>
        <td><%= rhythm.name %></td>
        <td><%= rhythm.description %></td>
        <td><%= rhythm.modality.name %></td>
        <td><%= link_to t('action.show'), rhythm %></td>
        <td><%= link_to t('action.edit'), edit_rhythm_path(rhythm) %></td>
        <td><%= link_to t('action.destroy'), rhythm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Rhythm.model_name.human}", new_rhythm_path %>
