<%= nested_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.select :teacher, options_from_collection_for_select(Teacher.all, :id, :first_name, selected: @group.teacher) %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :horaries %>
    <%= f.fields_for :horaries do |builder| %>
      <%= render "shared/horary_fields", f: builder %>
    <% end %>
    <%= f.link_to_add "Add a horary", :horaries %>
  </div>
  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :modality %>
    <%= f.select :modality, options_from_collection_for_select(Modality.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
