<h1><%= "#{t 'action.listing'} #{Group.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :description %></th>
      <th><%= Group.human_attribute_name :price %></th>
      <th><%= Group.human_attribute_name :time %></th>
      <th><%= Group.human_attribute_name :local %></th>
      <th><%= Group.human_attribute_name :start %></th>
      <th><%= Group.human_attribute_name :end %></th>
      <th><%= Group.human_attribute_name :modality %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= group.price %></td>
        <td><%#= group.hour %></td>
        <td><%= group.local %></td>
        <td><%= group.start %></td>
        <td><%= group.end %></td>
        <td><%= group.modality.name %></td>
        <td><%= link_to t('action.show'), group %></td>
        <td><%= link_to t('action.edit'), edit_group_path(group) %></td>
        <td><%= link_to t('action.destroy'), group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Group.model_name.human}", new_group_path %>
