<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :username %><br>
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<% if f.object.new_record? %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
<% end %>
<div class="field">
  <%= f.label :rg %><br>
  <%= f.text_field :rg %>
</div>
<div class="field">
  <%= f.label :cpf %><br>
  <%= f.text_field :cpf %>
</div>
<div class="field">
  <%= f.label :birth %><br>
  <%= f.date_select :birth %>
</div>
<div class="field">
  <%= f.label :phone_numbers %><br>
  <%= f.fields_for :phone_numbers do |b| %>
    <%= b.select :kind, ["Personal", "Commercial", "Residential", "Work"], placeholder: 'DDD' %>
    <%= b.text_field :ddd, placeholder: 'DDD' %>
    <%= b.text_field :number, placeholder: 'Number' %>
    <%= b.select :provider, ["", "Claro", "Oi", "TIM", "Vivo"] %><br />
    <%= b.link_to_remove "Remove this phone number" %><br />
  <% end %>
  <%= f.link_to_add :phone_numbers, model_object: PhoneNumber.new do %>
    Add Phone Number
  <% end %>
</div>
