<h1><%= "#{t 'action.listing'} #{Event.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Event.human_attribute_name :name %></th>
      <th><%= Event.human_attribute_name :description %></th>
      <th><%= Event.human_attribute_name :local %></th>
      <th><%= Event.human_attribute_name :date %></th>
      <th><%= Event.human_attribute_name :users %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.local %></td>
        <td><%= event.date %></td>
        <td><%= event.users.collect { |u| u.email } %></td>
        <td><%= link_to t('action.show'), event %></td>
        <td><%= link_to t('action.edit'), edit_event_path(event) %></td>
        <td><%= link_to t('action.destroy'), event, method: :delete, data: { confirm: t('action.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Event.model_name.human}", new_event_path %>
