<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @modality.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @modality.description %>
</p>

<%= link_to 'Edit', edit_modality_path(@modality) %> |
<%= link_to 'Back', modalities_path %>
