<h1><%= "#{t 'action.showing'} #{Modality.model_name.human}" %></h1>

<p>
  <strong><%= Modality.human_attribute_name :name %>:</strong>
  <%= @modality.name %>
</p>

<p>
  <strong><%= Modality.human_attribute_name :description %>:</strong>
  <%= @modality.description %>
</p>

<%= link_to t('action.edit'), edit_modality_path(@modality) %> |
<%= link_to t('action.back'), modalities_path %>
