<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pupil %>
    <%= f.select :pupil, Pupil.all.collect { |p| [p.first_name, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :group %>
    <%= f.select :group, Group.all.collect { |g| [g.name, g.id] } %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
