<h1><%= "#{t 'action.listing'} #{Enrollment.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Enrollment.human_attribute_name :pupil %></th>
      <th><%= Enrollment.human_attribute_name :group %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.pupil.first_name %></td>
        <td><%= enrollment.group.name %></td>
        <td><%= link_to t('action.show'), enrollment %></td>
        <td><%= link_to t('action.edit'), edit_enrollment_path(enrollment) %></td>
        <td><%= link_to t('action.destroy'), enrollment, method: :delete, data: { confirm: t('action.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Enrollment.model_name.human}", new_enrollment_path %>
