<h1><%= "#{t 'action.listing'} #{Enrollment.model_name.human.pluralize}" %></h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th><%= Enrollment.human_attribute_name :number %></th>
      <th><%= Enrollment.human_attribute_name :pupil %></th>
      <th><%= Enrollment.human_attribute_name :group %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.number, enrollment %></td>
        <td><%= enrollment.pupil.first_name %></td>
        <td><%= enrollment.group.name %></td>
        <td>
          <%= link_to edit_enrollment_path(enrollment), class: 'btn' do %>
            <i class="fa fa-edit"></i> <%= t('action.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to enrollment, method: :delete, data: { confirm: t('action.confirm') }, class: 'btn btn-danger' do %>
            <i class="fa fa-trash-o"></i> <%= t('action.destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'action.new'} #{Enrollment.model_name.human}", new_enrollment_path, class: 'btn' %>
