<h1><%= "#{t 'action.listing'} #{MonthlyFee.model_name.human.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th><%= MonthlyFee.human_attribute_name :pupil %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.id %></td>
        <td><%= "#{pupil.first_name} #{pupil.last_name}" %></td>
        <td><%= link_to "#{t('action.show')} #{MonthlyFee.model_name.human.pluralize}", pupil_monthly_fees_path(pupil) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
