<h1>Listing pupils</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Mail</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Birth</th>
      <th>Phone</th>
      <th>Profession</th>
      <th>Observations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.first_name %></td>
        <td><%= pupil.last_name %></td>
        <td><%= pupil.username %></td>
        <td><%= pupil.mail %></td>
        <td><%= pupil.rg %></td>
        <td><%= pupil.cpf %></td>
        <td><%= pupil.birth %></td>
        <td><%= pupil.phone %></td>
        <td><%= pupil.profession %></td>
        <td><%= pupil.observations %></td>
        <td><%= link_to 'Show', pupil %></td>
        <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupil', new_pupil_path %>
